[submodule "catkin_ws/src/joystick_drivers"]
	path = catkin_ws/src/joystick_drivers
	url = https://github.com/ShigemichiMatsuzaki/joystick_drivers
[submodule "catkin_ws/src/wiimote_teleop"]
	path = catkin_ws/src/wiimote_teleop
	url = https://github.com/ShigemichiMatsuzaki/wiimote_teleop
